{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
  {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>"
    (.Date)
    (.Date | time.Format (default "January 2, 2006" .Site.Params.DateFormat))
  )) }}
{{- end }}

{{- if and (not .Lastmod.IsZero) (ne .Lastmod .Date) -}}
  {{- $scratch.Add "meta" (slice (printf "<span title='Last updated %s'>Last updated on %s</span>"
    (.Lastmod)
    (.Lastmod | time.Format (default "January 2, 2006" .Site.Params.DateFormat))
  )) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
  {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}